.editButton{
    background: green;
    color: white;
    margin: 5px;
    padding: 5px;
    border: 5px;
    cursor: pointer;
}

.deleteButton{
    background: red;
    color: white;
    margin: 5px;
    padding: 5px;
    border: 5px;
    cursor: pointer;
}