.field {
    display: flex;
    grid-gap: 5px;
    width: 30%;
    /* margin-bottom: 10px; */
}

.control {
    display: flex;
    width: 8%;
    height: 30px;
}

.label {
    display: flex;
    width: 25%;
}

.editInput {
    display: flex;
    margin-left: 20px;
    height: 30px;
}

.confirmCancel {
    display: flex;
}